@import "tailwindcss";

@layer utilities {
    .border-test { border: 1px solid red; }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .around {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}