@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer utilities {
    .border-test {
        border: 1px solid red;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .around {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .bg-gradient-left {
        background-image: conic-gradient(from 90deg at -10% 100%, #2b303b 0deg, #2b303b 90deg, #16181d 1turn);
    }
    .inter-txwe {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }
}